<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<button id="copy" class="buttons">Copy</button>

<button id="toggleBackGroundColor" class = "buttons">Change Background Color</button>

<button id="changeTitle" class = "buttons">Change Title</button>

<button id="deleteButton" class = "buttons">Delete Last Instance</button>

<section class="all">
<header class ="name">
  <h1 id = "mainTitle" class="title">Me When The Code Works</h1>
  </header>
   <p>
My face when he code finaly decides to work.  This is Bryce.  He looks so cool.
  </p>
<section class="content">
  <img src = "https://cdn.discordapp.com/attachments/1062806966021402684/1063160172773654659/IMG_9420.png" width=200px/>
    
    <button id = "detailsBtn" class="detailsButton">Details</button>
  
 </section>
